﻿@{
    ViewBag.Title = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.6.4/math.min.js"></script>
<style>
    .live__scroll {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding-left: 15px;
    }

        .live__scroll .row {
            display: block;
        }

        .live__scroll .live__scroll--box {
            display: inline-block;
            float: none;
            padding: 15px;
        }

    .uguale {
        width: 100%;
        margin-left: 12px;
        margin-right: 12px;
    }
</style>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="printReport()"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>
<script>
    function printReport() {
        var print_div = document.getElementById("content-wrapper");
        var print_area = window.open();
        print_area.document.write(print_div.innerHTML);
        print_area.document.close();
        print_area.focus();
        print_area.print();
        print_area.close();
    }
</script>
<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Session Ran</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.session</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Epoch</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.epoch</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">#Episode</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.episode</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">GRID</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">50x50</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 mb-3">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Envirorment</h6>
            </div>
            <div class="card-body">
                <p>For this first experiment the envirorment choosen is simple. This experiment aim to find a good strategy for QLearning</p>
                <p>The first envirorment is a 5000x5000 meters open space, splitted into tiles 50x50. This will produce a qTable composed of 10k row</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Agent - States, Perception and Actions</h6>
            </div>
            <div class="card-body">
                <p>The agent in this simulation is very simple. He can freely move in the envirorment. He has no perception, even because there are no obstacles along the way</p>
                <p>There are no currently defined states.</p>
                <p>Actions allowed are 9: speed up, down, turn left and turn right all these have two modes: slow and fast, last action is emergency stop</p>
            </div>
        </div>

    </div>
    <div class="col-lg-4 mb-3">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Reward</h6>
            </div>
            <div class="card-body">
                <p>Immediate reward is so calculated:</p>
                <p>
                    <ul>
                        <li>Delta distance * 25</li>
                        <li>Reaching the goal +10000</li>
                        <li>Turning around Reward/1.12</li>
                        <li>Chaning speed Reward/1.3</li>
                        <li>Exceeding speed limit - speed-1.4 * Log(3*(speed-1.4)+2)</li>
                    </ul>
                </p>
                <p>Reward instead:</p>
                <code>((1 - Alpha) * _oldValue) + Alpha * (_reward + Gamma * max) - _penalties;</code>
            </div>
        </div>

    </div>
</div>
@{
    List<RLDataLayer.Session> ss = ViewBag.sessions;
}
<div class="row">
    <div class="card shadow mb-4 uguale">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Session selector</h6>
        </div>
        <div class="card-body">
            <div class="live__scroll">
                <div class="row text-center">
                    @foreach (var s in ss)
                    {
                        <div class="live__scroll--box">
                            <button type="button" class="btn btn-primary btn-lg" onclick="loadEpoch(@s.ID)">@s.ID - @s.Name</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@* config description *@
<div class="row">
    <div class="card shadow mb-4 uguale">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Session selector</h6>
        </div>
        <div class="card-body">

            <div class="row text-center">
                @ViewBag.config
            </div>

        </div>
    </div>
</div>
<script>
    function loadEpoch(id) {
        $.ajax({
            url: "loadEpoch/" + id,
            type: "POST",
            success: function (data) {
                $('#epoch').empty();
                for (i = 0; i < data; i++) {
                    $('#epoch').append('<div class="live__scroll--box" ><button type="button" class="btn btn-primary" onclick="loadData(' + id + ',' + i + ')">Epoch: ' + i + '</button></div>')
                }
            }
        });
        var decisions = ["SpeedUp",
            "SpeedUnchanged",
            "SpeedDown",
            "SpeedZero",
            "RotationLeftStrong",
            "RotationLeft",
            "RotationZero",
            "RotationRightStrong",
            "RotationRight"]

        //load decisions distribution
        $.ajax({
            url: "loadAllPie/" + id,
            type: "GET",
            success: function (result) {
                fullPie.data.labels = [];
                fullPie.data.datasets[0].data = [];
                var r = JSON.parse(result);
                for (i = 0; i < r.length; i++) {
                    fullPie.data.labels.push(decisions[r[i].key]);
                    fullPie.data.datasets[0].data.push(r[i].Count);
                }

                fullPie.update();
            }
        });

        //load speed graph
        $.ajax({
            url: "loadAllSpeed/" + id,
            type: "GET",
            success: function (result) {
                //allSpeedChart.data.labels = [];
                allSpeedChart.data.datasets = [];
                var r = JSON.parse(result);
                for (i = 0; i < r.length; i++) {
                    allSpeedChart.data.datasets[i] = JSON.parse(result)[i];
                }
                //allSpeedChart.options.scales.xAxes[0].scaleLabel.labelString 
                allSpeedChart.update();
            }
        });

        $.ajax({
            url: "loadAllReward/" + id,
            type: "GET",
            success: function (result) {
                //allSpeedChart.data.labels = [];
                allRewardChart.data.datasets = [];
                var r = JSON.parse(result);

                allRewardChart.data.datasets[0] = JSON.parse(result);
                boxPlotChar.data.datasets[0].data[0] = JSON.parse(result).data;
                for (i = 0; i < allRewardChart.data.datasets[0].data.length; i++) {
                    //boxPlotChar.data.labels.push("Ep" + i);
                    allRewardChart.data.labels.push("Ep" + i);
                }

                allRewardChart.options.scales.xAxes[0].scaleLabel.labelString = 'STD: ' + math.round(math.std(allRewardChart.data.datasets[0].data), 3) + ' Mean: ' + math.round(math.mean(allRewardChart.data.datasets[0].data), 3) + ' Median: ' + math.round(math.median(allRewardChart.data.datasets[0].data), 3) + ' Max: ' + math.max(allRewardChart.data.datasets[0].data) + ' Min: ' + math.min(allRewardChart.data.datasets[0].data);
                allRewardChart.update();
                boxPlotChar.update();
            }
        });


    }

</script>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Speed variations along every epoch</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="allSpeedChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Decisions along all epochs</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="allPieChart"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Reward along all epochs</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="allRewardChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Rewards box plot</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="boxPlotReward"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    //function loadEpoch(id) {
    //    $.ajax({
    //        url: "loadEpoch/"+id,
    //        type: "POST",
    //        success: function (data) {
    //            $('#epoch').empty();
    //            for (i = 0; i < data; i++) {
    //                $('#epoch').append('<div class="live__scroll--box" ><button type="button" class="btn btn-primary" onclick="loadData('+id+','+i+')">Epoch: ' + i +'</button></div>')
    //            }
    //        }
    //    });
    //}
    var decisions = ["SpeedUp",
        "SpeedUnchanged",
        "SpeedDown",
        "SpeedZero",
        "RotationLeftStrong",
        "RotationLeft",
        "RotationZero",
        "RotationRightStrong",
        "RotationRight"]
    function loadData(session, epoch) {
        //load decisions distribution
        $.ajax({
            url: "loadPie/" + session + "?epoch=" + epoch,
            type: "GET",
            success: function (result) {
                chartToUpdate.data.labels = [];
                chartToUpdate.data.datasets[0].data = [];
                var r = JSON.parse(result);
                for (i = 0; i < r.length; i++) {
                    chartToUpdate.data.labels.push(decisions[r[i].key]);
                    chartToUpdate.data.datasets[0].data.push(r[i].Count);
                }

                chartToUpdate.update();
            }
        });

        //load speed graph
        $.ajax({
            url: "loadSpeed/" + session + "?epoch=" + epoch,
            type: "GET",
            success: function (result) {
                //myChart.data.labels = [];
                var r = JSON.parse(result);
                for (i = 0; i < r.length; i++) {
                    myChart.data.datasets[0] = JSON.parse(result)[0];
                }
                myChart.options.scales.xAxes[0].scaleLabel.labelString = 'STD: ' + math.round(math.std(myChart.data.datasets[0].data), 3) + ' Mean: ' + math.round(math.mean(myChart.data.datasets[0].data), 3) + ' Median: ' + math.round(math.median(myChart.data.datasets[0].data), 3) + ' Max Allowed Value: 1.4m/s Min Allowed Value: 1.2m/s'
                myChart.update();
            }
        });

        $.ajax({
            url: "loadReward/" + session + "?epoch=" + epoch,
            type: "GET",
            success: function (result) {
                //allSpeedChart.data.labels = [];
                RewardChartSingle.data.datasets = [];
                RewardChartSingle.data.labels = [];
                var r = JSON.parse(result);

                RewardChartSingle.data.datasets[0] = JSON.parse(result);
                boxPlotCharSingle.data.datasets[0].data[0] = JSON.parse(result).data;
                for (i = 0; i < allRewardChart.data.datasets[0].data.length; i++) {
                    //boxPlotChar.data.labels.push("Ep" + i);
                    RewardChartSingle.data.labels.push("Ep" + i);
                }

                RewardChartSingle.options.scales.xAxes[0].scaleLabel.labelString = 'STD: ' + math.round(math.std(RewardChartSingle.data.datasets[0].data), 3) + ' Mean: ' + math.round(math.mean(RewardChartSingle.data.datasets[0].data), 3) + ' Median: ' + math.round(math.median(RewardChartSingle.data.datasets[0].data), 3) + ' Max: ' + math.max(RewardChartSingle.data.datasets[0].data) + ' Min: ' + math.min(RewardChartSingle.data.datasets[0].data);
                RewardChartSingle.update();
                boxPlotCharSingle.update();
            }
        });

    }
</script>
<div class="row">
    <div class="card shadow mb-4 uguale">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Epoch Selector:</h6>
        </div>
        <div class="card-body">
            <div class="live__scroll">
                <div class="row text-center" id="epoch">



                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myPieChart"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Reward along all epochs</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="RewardChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Rewards box plot</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="boxPlotRewardSingle"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <!-- Color System -->
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                        Primary
                        <div class="text-white-50 small">#4e73df</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Success
                        <div class="text-white-50 small">#1cc88a</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        Info
                        <div class="text-white-50 small">#36b9cc</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        Warning
                        <div class="text-white-50 small">#f6c23e</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        Danger
                        <div class="text-white-50 small">#e74a3b</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                        Secondary
                        <div class="text-white-50 small">#858796</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

@section Scripts{
    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/vendor/chart.js/Chart.BoxPlot.min.js"></script>
    <!-- Page level custom scripts -->
    <script>
        var chartToUpdate = new Chart(document.getElementById("myPieChart"), {
            type: 'pie',
            data: {
                labels: [],
                datasets: [{
                    label: "Decision",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#fe95cd", "#ce5ef2", "#3cbbbf"],
                    data: []
                }]
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: 'Distribution of decision'
                }
            }
        });

        var fullPie = new Chart(document.getElementById("allPieChart"), {
            type: 'pie',
            data: {
                labels: [],
                datasets: [{
                    label: "Decision",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#fe95cd", "#ce5ef2", "#3cbbbf"],
                    data: []
                }]
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: 'Distribution of decision'
                }
            }
        });
    </script>

    <script>

        // create initial empty chart
        var ctx_live = document.getElementById("myAreaChart");
        var myChart = new Chart(ctx_live, {
            type: 'line',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                lineMin: 1.2,
                lineMax: 1.4,
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: "Speed variation",
                },
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '',
                            fontColor: '#C7C7CC',
                            fontSize: 11
                        },
                        ticks: {
                            min: 0,
                            max: 80,
                            maxTicksLimit: 1,
                            padding: 10,
                        }
                    }]
                }
            }
        });
        for (i = 0; i < 80; i++)
            myChart.data.labels.push("Ep" + i);


        var allSpeedChart = new Chart(document.getElementById("allSpeedChart"), {
            type: 'line',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                lineMin: 1.2,
                lineMax: 1.4,
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: "Speed variation",
                },
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '',
                            fontColor: '#C7C7CC',
                            fontSize: 11
                        },
                        ticks: {
                            min: 0,
                            max: 80,
                            maxTicksLimit: 1,
                            padding: 10,
                        }
                    }]
                }
            }
        });
        for (i = 0; i < 80; i++)
            allSpeedChart.data.labels.push("Ep" + i);

        var allRewardChart = new Chart(document.getElementById("allRewardChart"), {
            type: 'line',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: "Reward variation",
                },
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '',
                            fontColor: '#C7C7CC',
                            fontSize: 11
                        },
                        ticks: {
                            min: 0,
                            max: 80,
                            maxTicksLimit: 1,
                            padding: 10,
                        }
                    }]
                }
            }
        });

        var RewardChartSingle = new Chart(document.getElementById("RewardChart"), {
            type: 'line',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: "Reward variation",
                },
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '',
                            fontColor: '#C7C7CC',
                            fontSize: 11
                        },
                        ticks: {
                            min: 0,
                            max: 80,
                            maxTicksLimit: 1,
                            padding: 10,
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        Chart.pluginService.register({
            afterDraw: function (chart) {
                if (typeof chart.config.options.lineMax != 'undefined') {
                    var lineMax = chart.config.options.lineMax;
                    var ctxPlugin = chart.chart.ctx;
                    var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
                    var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];

                    // I'm not good at maths
                    // So I couldn't find a way to make it work ...
                    // ... without having the `min` property set to 0
                    if (yAxe.min != 0) return;

                    ctxPlugin.strokeStyle = "red";
                    ctxPlugin.beginPath();
                    lineMax = (lineMax - yAxe.min) * (100 / yAxe.max);
                    lineMax = (100 - lineMax) / 100 * (yAxe.height) + yAxe.top;
                    ctxPlugin.moveTo(xAxe.left, lineMax);
                    ctxPlugin.lineTo(xAxe.right, lineMax);
                    ctxPlugin.stroke();
                }
                if (typeof chart.config.options.lineMin != 'undefined') {
                    var lineMin = chart.config.options.lineMin;
                    var ctxPlugin = chart.chart.ctx;
                    var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
                    var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];

                    // I'm not good at maths
                    // So I couldn't find a way to make it work ...
                    // ... without having the `min` property set to 0
                    if (yAxe.min != 0) return;

                    ctxPlugin.strokeStyle = "red";
                    ctxPlugin.beginPath();
                    lineMin = (lineMin - yAxe.min) * (100 / yAxe.max);
                    lineMin = (100 - lineMin) / 100 * (yAxe.height) + yAxe.top;
                    ctxPlugin.moveTo(xAxe.left, lineMin);
                    ctxPlugin.lineTo(xAxe.right, lineMin);
                    ctxPlugin.stroke();
                }
            }
        });
    </script>

    <script>
        var boxPlotChar = new Chart(document.getElementById("boxPlotReward").getContext("2d"), {
            type: 'boxplot',
            data: {
                labels: ['D1'],
                datasets: [{
                    label: 'Dataset 1',
                    backgroundColor: 'rgba(255,0,0,0.5)',
                    borderColor: 'red',
                    borderWidth: 1,
                    outlierColor: '#999999',
                    padding: 10,
                    itemRadius: 0,
                    data: [
                    ]
                }]
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: "Reward analyze",
                },
                legend: {
                    display: true
                },

            }
        });
    </script>
    <script>
        var boxPlotCharSingle = new Chart(document.getElementById("boxPlotRewardSingle").getContext("2d"), {
            type: 'boxplot',
            data: {
                labels: ['D1'],
                datasets: [{
                    label: 'Dataset 1',
                    backgroundColor: 'rgba(255,0,0,0.5)',
                    borderColor: 'red',
                    borderWidth: 1,
                    outlierColor: '#999999',
                    padding: 10,
                    itemRadius: 0,
                    data: [
                    ]
                }]
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0,
                    }
                },
                title: {
                    display: true,
                    text: "Reward analyze",
                },
                legend: {
                    display: true
                },

            }
        });
    </script>
}