﻿@using RLWebProject.Models
@model LoginViewModel


<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @id = "exampleInputEmail", @placeholder = "Enter Email Address..." })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @id = "examplePassword", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m=>m.Password)
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        @Html.CheckBoxFor(m => m.RememberMe,htmlAttributes: new {@class= "custom-control-input",@id="customCheck" })
                                        @Html.LabelFor(m => m.RememberMe,htmlAttributes: new {@class= "custom-control-label",@for="customCheck" })
                                        @*<input type="checkbox" class="custom-control-input" id="customCheck">*@
                                        @*<label class="custom-control-label" for="customCheck">Remember Me</label>*@
                                    </div>
                                </div>
                                <a href="javascript:;" onclick="parentNode.submit();" class="btn btn-primary btn-user btn-block">
                                    Login
                                </a>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>
                            }
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="register.html">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
