﻿@model RLDataLayer.Config

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Config</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yShift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yShift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaysNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaysNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WallRotationAngle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WallRotationAngle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxWalkingSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxWalkingSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minWalkingSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minWalkingSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decisionPerMinute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decisionPerMinute)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
