﻿@model RLDataLayer.Config

@{
    ViewBag.Title = "EditNew";
}

<h2>EditNew</h2>

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-10">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Config</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.RaysNumber, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.RaysNumber, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.RaysNumber)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.maxDistance, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.maxDistance, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.maxDistance)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.WallRotationAngle, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.WallRotationAngle, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.WallRotationAngle)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.maxWalkingSpeed, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.maxWalkingSpeed, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.maxWalkingSpeed)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.minWalkingSpeed, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.minWalkingSpeed, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.minWalkingSpeed)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.decisionPerMinute, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.decisionPerMinute, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.decisionPerMinute)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.maxEpisode, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.maxEpisode, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.maxEpisode)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.maxEpoch, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.maxEpoch, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.maxEpoch)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.speedDelta, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.speedDelta, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.speedDelta)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.rotationDeltaStrong, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.rotationDeltaStrong, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.rotationDeltaStrong)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.rotationDelta, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.rotationDelta, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.rotationDelta)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.tileSize, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.tileSize, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.tileSize)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.Alpha, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Alpha, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.Alpha)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.Gamma, new { @class = "control-label col-md-12" })
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Gamma, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                    @Html.ValidationMessageFor(model => model.Gamma)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>