﻿@model IEnumerable<RLDataLayer.Config>
<head>
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.yShift)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RaysNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.maxDistance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WallRotationAngle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.maxWalkingSpeed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.minWalkingSpeed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.decisionPerMinute)
                        </th>
                        @*<th>Ops</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.yShift)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RaysNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.maxDistance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WallRotationAngle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.maxWalkingSpeed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.minWalkingSpeed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.decisionPerMinute)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}