﻿@model IEnumerable<RLDataLayer.Config>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RaysNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WallRotationAngle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxWalkingSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minWalkingSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.decisionPerMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxEpisode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxEpoch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.speedDelta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rotationDeltaStrong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rotationDelta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tileSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alpha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gamma)
        </th>
        <th>Ops</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RaysNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WallRotationAngle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxWalkingSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minWalkingSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.decisionPerMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxEpisode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxEpoch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.speedDelta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rotationDeltaStrong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rotationDelta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alpha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gamma)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.ID })"><i class="far fa-edit"></i></a>
            <a href="@Url.Action("Details", new { id=item.ID })"><i class="fas fa-search-plus"></i></a>
            <a href="@Url.Action("Delete", new { id=item.ID })"><i class="far fa-trash-alt"></i></a>
        </td>
    </tr>
}
</tbody>
</table>
</div>
            </div>
          </div>
          @section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}

