﻿@model IEnumerable<RLDataLayer.Config>

@{
    ViewBag.Title = "Index";
}
<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<h2 class="h3 mb-2 text-gray-800">Configurations list</h2>
<p class="mb-4">Below are listed all available configuration for the simulator.</p>
<style>
    table.dataTable tbody > tr:nth-child(odd) {
        background-color: #f2f2f2b5;
    }

        table.dataTable tr:nth-child(even) {
            background-color: white;
        }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Configurations  - <a href="@Url.Action("Create")">Add new <i class="fas fa-plus"></i></a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.yShift)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RaysNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.maxDistance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WallRotationAngle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.maxWalkingSpeed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.minWalkingSpeed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.decisionPerMinute)
                        </th>
                        <th>Ops</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.Name)</b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.yShift)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaysNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maxDistance)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.WallRotationAngle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maxWalkingSpeed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.minWalkingSpeed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.decisionPerMinute)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.ID })"><i class="far fa-edit"></i></a>
                            <a href="@Url.Action("Details", new { id = item.ID })"><i class="fas fa-search-plus"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.ID })"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

    </script>
}

